* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgba(31, 31, 248, 0.667);
}

h3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 10px;
  color: white;
}

table {
  margin: 100px auto;
}
